/* Apply box-sizing to all elements for consistent box model */

/* Navigation container styles */
.nav {
    position: fixed;
    z-index: 2;
}


/* Navigation bar styles */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    z-index: 2;
}


/* Navigation overlay styles */
.nav-overlay {
    position: fixed;
    background: #f1e0c9;
    z-index: 1;
    top: -100%;
    left: 30%;
    width: 70%;
    height: 40vh;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition:  all 0.5s cubic-bezier(0,0,0,.01);/* Add the missing cubic-bezier values */
    opacity: 0.9;
    border-radius: 9%;
}


/* Logo styles */
.logo {
    background-color: #050116;
    border-radius: 3px;
    width: 6em;
    height: 3em;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    color: #f6eef4;
    font-family: 'Montagu Slab', serif;
    font-weight: bolder;
    text-transform: uppercase;
}


/* Menu toggle button styles */
.menu-toggle {
    cursor: pointer;
    justify-content: center;
    display: grid;
    columns: 1;
    background-color: white;
    border-radius: 100%;
    /* border: 4px solid red; */
}


/* Container for menu links */
.menu-links-container {
    position: absolute;
    top: 2em;
    right: 3em;
    padding: 1em;
    z-index: 1; 
}

.menu-item {
    list-style-type: none;
}

/* Styles for individual menu links */
.menu-links-container a {
    color: #656115;
    text-decoration: none;
    margin-bottom: 1em;
    font-size: 24px;
}


/* Hidden menu link styles */
.menu-link {
    display: none;
    text-align: center;
    padding: 1em;
}


/* Hamburger box styles */
.hamBox {
    position: relative;
    width: 1px;
    height: 1px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.4s ease;
    padding: 2em;
}


/* Styles for lines in the hamburger box */
.lineTop,
.lineBottom,
.lineMiddle {
    margin: 0 auto;
    position: absolute;
    display: block;
    width: 32px;
    height: 2px;
    border-radius: 10px;
    background: rgba(8, 2, 39, 0.5);
    left: 0;
    right: 0;
    transform: rotate(0deg);
    transition: all 0.4s;
}


/* Position of top line in hamburger box */
.lineTop {
    top: 1.3em;
}
/* Position of middle line in hamburger box */
.lineMiddle {
    bottom: 2.1em;
}
/* Position of bottom line in hamburger box */
.lineBottom {
    bottom: 1.6em;
}


/* Animation for top line when hamburger box is open */
.hamBoxOpen .lineTop {
    top: 2.5em;
    transform: rotate(0deg);
    background: #151313;
    transition: transform 2s ease;
}
/* Animation for middle line when hamburger box is open */
.hamBoxOpen .lineMiddle {
    bottom: 2.35em;
    transform: rotate(125deg);
    background: #151313;
    transition: transform 2s ease;
}
/* Animation for bottom line when hamburger box is open */
.hamBoxOpen .lineBottom {
    bottom: 2.35em;
    transform: rotate(-125deg);
    background: #151313;
    transition: transform 2s ease;
}